$blue: rgba(30, 106, 255, 1);
$red: rgba(251, 63, 52, 1);
$green: rgba(50, 215, 75, 1);

$tabs: rgba(255, 255, 255, 0.08);
$tabBarBackground: rgba(32, 32, 32, 0.94);
$bottomSheet: rgba(32, 32, 32, 1);
$deviders: rgba(50, 50, 50, 1);

$btnsPrimary: rgba(96, 96, 96, 1);
$btnsSecondary: rgba(48, 48, 48, 1);