@import "@/styles/colors";
.tabs {
  background-color: $tabs !important;
}
.green {
  background-color: $green !important;
}
.blue {
  background-color: $blue !important;
}
.red {
  background-color: $red !important;
}
.bottomSheet {
  background-color: $bottomSheet !important;
}