@import "@/styles/fonts";
.title2 {
  @extend %title2;

  text-align: left;
  align-self: flex-start;
  justify-self: flex-end;
}
.smallRegular {
  @extend %smallRegular;

  text-align: left;
  align-self: flex-start;
  justify-self: flex-end;
}
.smallMedium {
  @extend %smallMedium;

  text-align: left;
  align-self: flex-start;
  justify-self: flex-end;
}
.bodySemiBold {
  @extend %bodySemiBold;

  text-align: left;
  align-self: flex-start;
  justify-self: flex-end;
}
.bodyRegular {
  @extend %bodyRegular;

  text-align: left;
  align-self: flex-start;
  justify-self: flex-end;
}
.bodyMedium {
  @extend %bodyMedium;

  text-align: left;
  max-width: 82px;
  align-self: flex-start;
  justify-self: flex-end;
}