%fontInter {
  font-family: 'Inter';
  font-style: normal;
}
%footNote {
  @extend %fontInter;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}
%title1 {
  @extend %fontInter;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
%title2 {
  @extend %fontInter;
  font-weight: 600;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.22px;
}
%title2Medium {
  @extend %fontInter;
  font-weight: 500;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.22px;
}
%title3 {
  @extend %fontInter;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}
%largeTitle {
  @extend %fontInter;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.32px;
  font-feature-settings: 'pnum' on, 'lnum' on;
}
%smallRegular {
  @extend %fontInter;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}
%smallMedium {
  @extend %fontInter;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
}
%smallSemiBold {
  @extend %fontInter;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
}
%caption {
  @extend %fontInter;
  font-weight: 400;
  font-size: 11px;
  line-height: 14px;
  letter-spacing: 0.05px;
}
%captionMedium {
  @extend %fontInter;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.12px;
}
%bodySemiBold {
  @extend %fontInter;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
}
%bodyRegular {
  @extend %fontInter;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
}
%bodyMedium {
  @extend %fontInter;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
}